<div class="jumbotron col-md-8 col-lg-8 col-xs-8">
  <span>
    <div class="col-md-1">
      <i class="fa fa-lightbulb-o fa-5x pull-right"></i>
    </div>
    <div class="col-md-11 pull-left">
      <h1>Ecolight</h1>
    </div>
  </span>
  <div class="col-md-12 col-lg-12">
    <p>This is a small scale household IoT project, under categorised energy optimization & digitization. To better describe it - Cloud connected LED bulb driven by single board computer striving to optimize the "on" time against user driven preferences and the ambient threshold. Cloud connected setup would not only let the user set the preferences remotely , but also monitor the room conditions on real time. Ecolight serves wide range of photo-ambiance , with easy access to the calibration and configuration of the setup..</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h1>
        <span class="glyphicon glyphicon-wrench"></span>
      </h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <p>View the Architecture and Technology stack of the entire setup.</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h1>
        <span class="glyphicon glyphicon-stats"></span>
      </h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <p>Monitor the Light intensity throughout the day with allied graphical reporting.</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <h1>
        <span class="glyphicon glyphicon-scale"></span>
      </h1>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
      <p>Configure the desired luminosity in your living area, through here</p>
    </div>
  </div>
</div>
</body>
