
  <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
  <p>Ecolight:

  Ecolight is a small scale household IoT project, under categorised energy optimization & digitization. To better describe it -Cloud connected LED bulb driven by single board computer(or barebone motherboard) striving to optimize the "on" time against user driven preferences and the ambient threshold. Cloud connected setup would not only let the user set the preferences remotely , but also monitor the room conditions on real time. Ecolight serves wide range of photo-ambiance , with easy access to the calibration and configuration of the setup.</p>

  <p>Ecolight motherboard feeds on 5V-2.4A DC supply and can support 750mA (max-ampearage) @ 240V AC switches. We are currently testing for a single channel , and future enhancements would enable multiple channels and thus more ampearage.</p>

<p>Ecolight is accompanied with a 16 X 2 LCD (green) that serves as a display for percentile light intensity readings against the set threshold. This LCD needs no external power , but feeds from the output of the motherboard.</p>
<div class="jumbotron">
  <img class="img-responsive" width="700" height="700" src="images/EcoLightingArchitecture.png" alt="">
</div>

  </div>
